* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --rem: 16px; /* Set your base font size here */
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  min-width: 100vw;
}

.content {
  /* background: #16151C;/ */
  width: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

button { cursor: pointer;}

svg {
  width: 24px;
  height: 24px;
}

.dummy-classname {
  height: 80%;
  display: grid;
  place-content: center;
  color: #fff;
  height: 100%;
  background: #16151C;
}

.axis-bottom-text {
  color: white; /* Set the text color to white */
}
