* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  background: #16151C;
  color: white;
  --rem: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  min-width: 100vw;
}

.content {

  width: 100%;
  overflow: auto;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

button { cursor: pointer;}

svg {
  width: 24px;
  height: 24px;
}

.dummy-classname {
  height: 80%;
  display: grid;
  place-content: center;
  color: #fff;
  height: 100%;
  background: #16151C;
}

.axis-bottom-text {
  color: white;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}