UPSTAT_GRPC_ADDRESS=set-grpc-address-here
UPSTAT_GRPC_CHECK_LIMIT=set-limit-here
MONGO_URI=mongo-db-uri
MONGO_DB=Upstat
GROQ_API_KEY=api-key-here
UPSTAT_GRPC_AUTH_TOKEN=set-auth-token-here
GRPC_PORT=50051
ENABLE_GRPC_SERVER=true
